In [1]:
! pip install pygris
! pip install load_dotenv

Requirement already satisfied: pygris in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (0.2.0)
Requirement already satisfied: geopandas>=0.9 in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from pygris) (1.0.1)
Requirement already satisfied: requests in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from pygris) (2.32.3)
Requirement already satisfied: appdirs in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from pygris) (1.4.4)
Requirement already satisfied: numpy>=1.22 in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from geopandas>=0.9->pygris) (2.2.0)
Requirement already satisfied: pyogrio>=0.7.2 in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from geopandas>=0.9->pygris) (0.9.0)
Requirement already satisfied: packaging in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from geopandas>=0.9->pygris) (24.2)
Requirement already satisfied: pandas>=1.4.0 in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from geopandas>=0.9->pygris) (2.2.3)
Requirement already satisfied: pyproj>=3.3.0 in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from geopandas>=0.9->pygris) (3.7.0)
Requirement already satisfied: shapely>=2.0.0 in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from geopandas>=0.9->pygris) (2.0.6)
Requirement already satisfied: charset_normalizer<4,>=2 in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from requests->pygris) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from requests->pygris) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from requests->pygris) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from requests->pygris) (2024.8.30)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas>=0.9->pygris) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas>=0.9->pygris) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas>=0.9->pygris) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->geopandas>=0.9->pygris) (1.17.0)
Requirement already satisfied: load_dotenv in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (0.1.0)
Requirement already satisfied: python-dotenv in /Users/mia694/miniconda3/envs/census_series/lib/python3.10/site-packages (from load_dotenv) (1.1.1)

In [2]:
import pygris
import requests
import os
import pandas as pd
from dotenv import load_dotenv

# TIGER/Line + CB Shapefiles

## 2000

In [3]:
# TIGER2010/ZCTA5/2000/tl_2010_us_zcta500.zip
tiger_shp_2000 = pygris.zctas(cache=False, year=2000)

In [4]:
tiger_shp_2000.columns

Index(['ZCTA5CE00', 'CLASSFP00', 'MTFCC00', 'FUNCSTAT00', 'ALAND00',
       'AWATER00', 'INTPTLAT00', 'INTPTLON00', 'geometry'],
      dtype='object')

In [5]:
tiger_shp_2000.head()

,ZCTA5CE00,CLASSFP00,MTFCC00,FUNCSTAT00,ALAND00,AWATER00,INTPTLAT00,INTPTLON00,geometry
0,99661,B5,G6350,S,1131077291,56091542,+55.3118694,-160.5865339,"MULTIPOLYGON (((-161.09939 55.15794, -161.0995..."
1,99612,B5,G6350,S,66502573,66576,+55.0865796,-162.2936213,"POLYGON ((-162.32752 55.06059, -162.32719 55.0..."
2,99553,B5,G6350,S,518410137,0,+54.1438301,-165.8188177,"MULTIPOLYGON (((-166.09269 53.96086, -166.0928..."
3,99583,B5,G6350,S,1362678244,0,+54.8460284,-163.6556276,"POLYGON ((-163.40838 54.85568, -163.40822 54.8..."
4,99571,B5,G6350,S,1327132624,19838937,+55.0773279,-162.7305748,"MULTIPOLYGON (((-162.84795 55.29162, -162.8486..."

In [6]:
unique_zctas__tiger_shp_2000 = tiger_shp_2000['ZCTA5CE00'].unique()
unique_zctas__tiger_shp_2000[:10]  # Display first 10 unique ZCTAs

array(['99661', '99612', '99553', '99583', '99571', '99692', '99591',
       '38739', '38758', '38767'], dtype=object)

In [7]:
# PREVGENZ/zt/z500shp/zt99_d00_shp.zip
cb_shp_2000 = pygris.zctas(cache=False, year=2000, cb=True)

In [8]:
cb_shp_2000.columns

Index(['AREA', 'PERIMETER', 'ZT99_D00_', 'ZT99_D00_I', 'ZCTA', 'NAME', 'LSAD',
       'LSAD_TRANS', 'geometry'],
      dtype='object')

In [9]:
cb_shp_2000.head()

,AREA,PERIMETER,ZT99_D00_,ZT99_D00_I,ZCTA,NAME,LSAD,LSAD_TRANS,geometry
0,116.458973,197.607086,2,1,997XX,997XX,Z5,5-Digit ZCTA,"POLYGON ((-156.92495 71.23033, -156.72874 71.2..."
1,0.026368,1.128047,3,2,99723,99723,Z5,5-Digit ZCTA,"POLYGON ((-156.67253 71.32994, -156.6643 71.32..."
2,0.202685,4.324841,4,3,997HH,997HH,Z5,5-Digit ZCTA,"POLYGON ((-154.10483 70.63819, -154.09684 70.6..."
3,0.011322,0.811850,5,4,99782,99782,Z5,5-Digit ZCTA,"POLYGON ((-159.92781 70.68501, -159.92641 70.6..."
4,0.000454,0.150010,6,5,997XX,997XX,Z5,5-Digit ZCTA,"POLYGON ((-154.02344 70.64334, -154.02564 70.6..."

In [10]:
unique_zctas__cb_shp_2000 = cb_shp_2000['NAME'].unique()
unique_zctas__cb_shp_2000[:10]  # Display first 10 unique ZCTAs

array(['997XX', '99723', '997HH', '99782', '99791', '99789', '99747',
       '99759', '99766', '99721'], dtype=object)

## 2010

In [11]:
# TIGER2010/ZCTA5/2010/tl_2010_us_zcta510.zip
tiger_shp_2010 = pygris.zctas(cache=False, year=2010)

In [12]:
tiger_shp_2010.columns

Index(['ZCTA5CE10', 'GEOID10', 'CLASSFP10', 'MTFCC10', 'FUNCSTAT10', 'ALAND10',
       'AWATER10', 'INTPTLAT10', 'INTPTLON10', 'geometry'],
      dtype='object')

In [13]:
tiger_shp_2010.head()

,ZCTA5CE10,GEOID10,CLASSFP10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
0,04757,04757,B5,G6350,S,334700805,3663844,+46.6676144,-068.1686355,"POLYGON ((-68.08095 46.56746, -68.08236 46.567..."
1,04758,04758,B5,G6350,S,91006829,191946,+46.5592719,-067.8532254,"POLYGON ((-67.9065 46.52526, -67.90677 46.5335..."
2,04760,04760,B5,G6350,S,259787771,547534,+46.3393412,-067.9548745,"POLYGON ((-67.85272 46.37207, -67.84753 46.372..."
3,04975,04975,B5,G6350,S,142318,0,+44.6253540,-069.5883338,"POLYGON ((-69.58945 44.62188, -69.58938 44.622..."
4,04976,04976,B5,G6350,S,257908035,4722278,+44.7892800,-069.6676898,"POLYGON ((-69.73503 44.78785, -69.73388 44.787..."

In [14]:
unique_zctas__tiger_shp_2010 = tiger_shp_2010['ZCTA5CE10'].unique()

In [15]:
# GENZ2010/gz_2010_us_860_00_500k.zip
cb_shp_2010 = pygris.zctas(cache=False, year=2010, cb=True)

In [16]:
cb_shp_2010.columns

Index(['GEO_ID', 'ZCTA5', 'NAME', 'LSAD', 'CENSUSAREA', 'geometry'], dtype='object')

In [17]:
cb_shp_2010.head()

,GEO_ID,ZCTA5,NAME,LSAD,CENSUSAREA,geometry
0,8600000US01040,01040,01040,ZCTA5,21.281,"POLYGON ((-72.62734 42.16203, -72.62764 42.162..."
1,8600000US01050,01050,01050,ZCTA5,38.329,"POLYGON ((-72.95393 42.34379, -72.95385 42.343..."
2,8600000US01053,01053,01053,ZCTA5,5.131,"POLYGON ((-72.68286 42.37002, -72.68287 42.369..."
3,8600000US01056,01056,01056,ZCTA5,27.205,"POLYGON ((-72.39529 42.18476, -72.39653 42.183..."
4,8600000US01057,01057,01057,ZCTA5,44.907,"MULTIPOLYGON (((-72.39191 42.08066, -72.39077 ..."

In [18]:
unique_zctas__cb_shp_2010 = cb_shp_2010['ZCTA5'].unique()

## Census API

In [19]:
#creat a .env file in the same directory as this script with your Census API key
#CENSUS_API_KEY='your_api_key_here'
#load the environment variables from the .env file
load_dotenv()

True

In [20]:
geography = "zip%20code%20tabulation%20area:*"
dataset = "acs/acs5"
variable_list = 'B01003_001E'
api_key = os.environ.get("CENSUS_API_KEY")
#api_key

## ACS5 2007-2011

In [21]:
year = 2011
api_endpoint = f"https://api.census.gov/data/{year}/{dataset}"
url = f"{api_endpoint}?get={variable_list}&for={geography}&key={api_key}"
#url

In [22]:
response = requests.get(url)
print(response.status_code)

200

In [23]:
data = response.json()
df = pd.DataFrame(data[1:], columns=data[0])
col_list = ["zip code tabulation area"] + variable_list.split(",")
df = df[col_list]
df.rename(columns={"zip code tabulation area": "zcta"}, inplace=True)
df.set_index("zcta", inplace=True)

unique_zctas = df.index.unique()

In [24]:
# Find ZCTAs in ACS data not in TIGER/Line shapefile
zctas_not_in_tiger = set(unique_zctas) - set(unique_zctas__tiger_shp_2000)
# Find ZCTAs in TIGER/Line shapefile not in ACS data
zctas_not_in_acs = set(unique_zctas__tiger_shp_2000) - set(unique_zctas)

print(f"ZCTAs in ACS but not in TIGER/Line: {len(zctas_not_in_tiger)}")
print(f"ZCTAs in TIGER/Line but not in ACS: {len(zctas_not_in_acs)}")

ZCTAs in ACS but not in TIGER/Line: 1742
ZCTAs in TIGER/Line but not in ACS: 660

In [25]:
# Find ZCTAs in ACS data not in CB shapefile
zctas_not_in_cb = set(unique_zctas) - set(unique_zctas__cb_shp_2000)
# Find ZCTAs in CB shapefile not in ACS data
cb_not_in_acs = set(unique_zctas__cb_shp_2000) - set(unique_zctas)

print(f"ZCTAs in ACS but not in CB shapefile: {len(zctas_not_in_cb)}")
print(f"ZCTAs in CB shapefile but not in ACS: {len(cb_not_in_acs)}")

ZCTAs in ACS but not in CB shapefile: 1742
ZCTAs in CB shapefile but not in ACS: 1793

In [26]:
# Find ZCTAs in ACS data not in TIGER/Line shapefile
zctas_not_in_tiger = set(unique_zctas) - set(unique_zctas__tiger_shp_2010)
# Find ZCTAs in TIGER/Line shapefile not in ACS data
zctas_not_in_acs = set(unique_zctas__tiger_shp_2010) - set(unique_zctas)

print(f"ZCTAs in ACS but not in TIGER/Line: {len(zctas_not_in_tiger)}")
print(f"ZCTAs in TIGER/Line but not in ACS: {len(zctas_not_in_acs)}")

ZCTAs in ACS but not in TIGER/Line: 0
ZCTAs in TIGER/Line but not in ACS: 0

In [27]:
# Find ZCTAs in ACS data not in CB shapefile
zctas_not_in_cb = set(unique_zctas) - set(unique_zctas__cb_shp_2010)
# Find ZCTAs in CB shapefile not in ACS data
cb_not_in_acs = set(unique_zctas__cb_shp_2010) - set(unique_zctas)

print(f"ZCTAs in ACS but not in CB shapefile: {len(zctas_not_in_cb)}")
print(f"ZCTAs in CB shapefile but not in ACS: {len(cb_not_in_acs)}")

ZCTAs in ACS but not in CB shapefile: 0
ZCTAs in CB shapefile but not in ACS: 0