In [2]:
import censusdis.data as ced
import pandas as pd
import string

In [2]:
pd.set_option('display.max_colwidth', None)

# Foreign Born Explorer

In [3]:
def validate_xyear(var_variable, var_group, var_dataset, var_years):
    var_df = list() 
    for year in var_years:
        # identify whether group is a dictionary or string
        if isinstance(var_group, dict):
            group = var_group[year]
        elif isinstance(var_group, str):
            group = var_group
        # identify whether dataset is a dictionary or string
        if isinstance(var_dataset, dict):
            dataset = var_dataset[year]
        elif isinstance(var_dataset, str):
            dataset = var_dataset
        # identify whether variable is a dictionary or string
        if isinstance(var_variable, dict):
            variable = var_variable[year]
        elif isinstance(var_variable, str):
            variable = var_variable
        # make request
        var = ced.variables.all_variables(dataset, year, group)
        # make sure variable is in dataset
        if var.shape[0] == 0:
            print(f'{dataset} empty for {year}')
        elif var[var.VARIABLE == variable].shape[0] == 0:
            print(f'{variable} not found in {dataset} for {year}')
        else:
            var = var[["YEAR", "LABEL"]][var.VARIABLE == variable]
            var_df.append(var)
    var_df = pd.concat(var_df)
    return var_df

In [4]:
## acs5
acs_acs5_groups_2009 = ced.variables.all_groups('acs/acs5', year=2009)[['GROUP', 'DESCRIPTION']]
acs_acs5_groups_2009.to_csv('notes/acs_acs5_groups_2009.csv', index=False)
acs_acs5_groups_2009.head()

     GROUP                                   DESCRIPTION
0   B00001     UNWEIGHTED SAMPLE COUNT OF THE POPULATION
1   B00002               UNWEIGHTED SAMPLE HOUSING UNITS
2   B01001                                    SEX BY AGE
3  B01001A                      SEX BY AGE (WHITE ALONE)
4  B01001B  SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)

In [5]:
acs_acs5_groups_2016 = ced.variables.all_groups('acs/acs5', year=2016)[['GROUP', 'DESCRIPTION']]
acs_acs5_groups_2016.head()

     GROUP                                   DESCRIPTION
0   B00001     UNWEIGHTED SAMPLE COUNT OF THE POPULATION
1   B00002               UNWEIGHTED SAMPLE HOUSING UNITS
2   B01001                                    SEX BY AGE
3  B01001A                      SEX BY AGE (WHITE ALONE)
4  B01001B  SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)

In [6]:
## acs1
acs_acs1_groups_2007 = ced.variables.all_groups('acs/acs1', year=2007)[['GROUP', 'DESCRIPTION']]
acs_acs1_groups_2007.to_csv('notes/acs_acs1_groups_2007.csv', index=False)
acs_acs1_groups_2007.head()

     GROUP                                   DESCRIPTION
0   B00001     UNWEIGHTED SAMPLE COUNT OF THE POPULATION
1   B00002               UNWEIGHTED SAMPLE HOUSING UNITS
2   B01001                                    SEX BY AGE
3  B01001A                      SEX BY AGE (WHITE ALONE)
4  B01001B  SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)

In [7]:
acs_acs1_groups_2016 = ced.variables.all_groups('acs/acs1', year=2016)[['GROUP', 'DESCRIPTION']]
acs_acs1_groups_2016.head()

     GROUP                                   DESCRIPTION
0   B00001     UNWEIGHTED SAMPLE COUNT OF THE POPULATION
1   B00002               UNWEIGHTED SAMPLE HOUSING UNITS
2   B01001                                    SEX BY AGE
3  B01001A                      SEX BY AGE (WHITE ALONE)
4  B01001B  SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)

In [8]:
ced.variables.all_groups('acs/acs5/profile', year=2009)[['GROUP', 'DESCRIPTION']]

    GROUP                                                      DESCRIPTION
0    DP02  Selected Social Characteristics in the United States: 2005-2009
1  DP02PR        Selected Social Characteristics in Puerto Rico: 2005-2009
2    DP03                     Selected Economic Characteristics: 2005-2009
3    DP04                      Selected Housing Characteristics: 2005-2009
4    DP05                ACS Demographic and Housing Estimates:  2005-2009

In [9]:
ced.variables.all_variables('acs/acs5/profile', 2009, 'DP02')[['VARIABLE', 'LABEL']].to_csv('notes/DP02_variables_2009.csv', index=False)
ced.variables.all_variables('acs/acs5/profile', 2010, 'DP02')[['VARIABLE', 'LABEL']].to_csv('notes/DP02_variables_2010.csv', index=False)
#ced.variables.all_variables('acs/acs5/profile', 2011, 'DP02')[['VARIABLE', 'LABEL']].to_csv('notes/DP02_variables_2011.csv', index=False)
ced.variables.all_variables('acs/acs5/profile', 2012, 'DP02')[['VARIABLE', 'LABEL']].to_csv('notes/DP02_variables_2012.csv', index=False)
ced.variables.all_variables('acs/acs5/profile', 2013, 'DP02')[['VARIABLE', 'LABEL']].to_csv('notes/DP02_variables_2013.csv', index=False)
ced.variables.all_variables('acs/acs5/profile', 2014, 'DP02')[['VARIABLE', 'LABEL']].to_csv('notes/DP02_variables_2014.csv', index=False)
ced.variables.all_variables('acs/acs5/profile', 2015, 'DP02')[['VARIABLE', 'LABEL']].to_csv('notes/DP02_variables_2015.csv', index=False)
ced.variables.all_variables('acs/acs5/profile', 2016, 'DP02')[['VARIABLE', 'LABEL']].to_csv('notes/DP02_variables_2016.csv', index=False)
ced.variables.all_variables('acs/acs5/profile', 2017, 'DP02')[['VARIABLE', 'LABEL']].to_csv('notes/DP02_variables_2017.csv', index=False)
ced.variables.all_variables('acs/acs5/profile', 2018, 'DP02')[['VARIABLE', 'LABEL']].to_csv('notes/DP02_variables_2018.csv', index=False)
ced.variables.all_variables('acs/acs5/profile', 2019, 'DP02')[['VARIABLE', 'LABEL']].to_csv('notes/DP02_variables_2019.csv', index=False)
ced.variables.all_variables('acs/acs5/profile', 2020, 'DP02')[['VARIABLE', 'LABEL']].to_csv('notes/DP02_variables_2020.csv', index=False)
ced.variables.all_variables('acs/acs5/profile', 2021, 'DP02')[['VARIABLE', 'LABEL']].to_csv('notes/DP02_variables_2021.csv', index=False)
ced.variables.all_variables('acs/acs5/profile', 2022, 'DP02')[['VARIABLE', 'LABEL']].to_csv('notes/DP02_variables_2022.csv', index=False)

## Total foreign born (Place of birth)

### B05006: Place of birth for the foreign-born population in the United States

In [10]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B05006'])
birth = ced.variables.all_variables('acs/acs5', 2009, 'B05006')[['VARIABLE', 'LABEL']]
birth.to_csv('notes/B05006_variables.csv', index=False)
birth.head()

     GROUP                                     DESCRIPTION
47  B05006  PLACE OF BIRTH FOR THE FOREIGN-BORN POPULATION

,VARIABLE,LABEL
0,B05006_001E,Estimate!!Total
1,B05006_002E,Estimate!!Total!!Europe
2,B05006_003E,Estimate!!Total!!Europe!!Northern Europe
3,B05006_004E,Estimate!!Total!!Europe!!Northern Europe!!United Kingdom (inc. Crown Dependencies)
4,B05006_005E,"Estimate!!Total!!Europe!!Northern Europe!!United Kingdom (inc. Crown Dependencies)!!United Kingdom, excluding England and Scotland"

In [11]:
validate_xyear(f'B05006_001E', 'B05006', 'acs/acs5', range(2009, 2022+1))

   YEAR             LABEL
0  2009   Estimate!!Total
0  2010   Estimate!!Total
0  2011   Estimate!!Total
0  2012   Estimate!!Total
0  2013   Estimate!!Total
0  2014   Estimate!!Total
0  2015   Estimate!!Total
0  2016   Estimate!!Total
0  2017   Estimate!!Total
0  2018   Estimate!!Total
0  2019  Estimate!!Total:
0  2020  Estimate!!Total:
0  2021  Estimate!!Total:
0  2022  Estimate!!Total:

In [12]:
print(acs_acs1_groups_2007[acs_acs1_groups_2007['GROUP'] == 'B05006'])
ced.variables.all_variables('acs/acs1', 2007, 'B05006')[['VARIABLE', 'LABEL']].head()

     GROUP                                     DESCRIPTION
59  B05006  PLACE OF BIRTH FOR THE FOREIGN-BORN POPULATION

,VARIABLE,LABEL
0,B05006_001E,Estimate!!Total
1,B05006_002E,Estimate!!Total!!Europe
2,B05006_003E,Estimate!!Total!!Europe!!Northern Europe
3,B05006_004E,Estimate!!Total!!Europe!!Northern Europe!!United Kingdom
4,B05006_005E,"Estimate!!Total!!Europe!!Northern Europe!!United Kingdom!!United Kingdom, excluding England and Scotland"

In [13]:
years_acs1_list = list(range(2009, 2022+1))
years_acs1_list.remove(2020)
validate_xyear(f'B05006_001E', 'B05006', 'acs/acs1', years_acs1_list)

   YEAR             LABEL
0  2009   Estimate!!Total
0  2010   Estimate!!Total
0  2011   Estimate!!Total
0  2012   Estimate!!Total
0  2013   Estimate!!Total
0  2014   Estimate!!Total
0  2015   Estimate!!Total
0  2016   Estimate!!Total
0  2017   Estimate!!Total
0  2018   Estimate!!Total
0  2019  Estimate!!Total:
0  2021  Estimate!!Total:
0  2022  Estimate!!Total:

## P021 : Place of birth by citizenship status

In [5]:
#PLACE OF BIRTH BY CITIZENSHIP STATUS [15]
birth = ced.variables.all_variables('dec/sf3', 2000, 'P021')[['VARIABLE', 'LABEL']]
birth.to_csv('notes/P021_variables.csv', index=False)
birth.head()

  VARIABLE                                      LABEL
0   GEO_ID                                  Geography
1     NAME                           Label for GEO_ID
2  P021001                                      Total
3  P021002                              Total!!Native
4  P021003  Total!!Native!!Born in state of residence

### DP02: Selected Social Characteristics in the United States

In [41]:
pd.concat([
    validate_xyear(f'DP02_0092PE', 'DP02', 'acs/acs5/profile', range(2009, 2018+1)), 
    validate_xyear(f'DP02_0093PE', 'DP02', 'acs/acs5/profile', range(2019, 2019+1)), 
    validate_xyear(f'DP02_0094PE', 'DP02', 'acs/acs5/profile', range(2020, 2022+1))
])

     YEAR                                                              LABEL
366  2009  Percent!!Estimate!!PLACE OF BIRTH!!Total population!!Foreign born
366  2010                              Percent!!PLACE OF BIRTH!!Foreign born
274  2011                              Percent!!PLACE OF BIRTH!!Foreign born
274  2012                              Percent!!PLACE OF BIRTH!!Foreign born
274  2013            Percent!!PLACE OF BIRTH!!Total population!!Foreign born
274  2014            Percent!!PLACE OF BIRTH!!Total population!!Foreign born
274  2015            Percent!!PLACE OF BIRTH!!Total population!!Foreign born
274  2016            Percent!!PLACE OF BIRTH!!Total population!!Foreign born
456  2017   Percent Estimate!!PLACE OF BIRTH!!Total population!!Foreign born
456  2018   Percent Estimate!!PLACE OF BIRTH!!Total population!!Foreign born
277  2019            Percent!!PLACE OF BIRTH!!Total population!!Foreign born
280  2020            Percent!!PLACE OF BIRTH!!Total population!!Foreign born
280  2021            Percent!!PLACE OF BIRTH!!Total population!!Foreign born
280  2022            Percent!!PLACE OF BIRTH!!Total population!!Foreign born

## English "less than well" (language spoken at home)

In [19]:
### acs5
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B16001'])
language_acs5_2009 = ced.variables.all_variables('acs/acs5', 2009, 'B16001')[['VARIABLE', 'LABEL']]
language_acs5_2009.to_csv('notes/B16001_2009_variables.csv', index=False)
language_acs5_2009.head()

      GROUP  \
180  B16001

                                                                                 DESCRIPTION
180  LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER

,VARIABLE,LABEL
0,B16001_001E,Estimate!!Total
1,B16001_002E,Estimate!!Total!!Speak only English
2,B16001_003E,Estimate!!Total!!Spanish or Spanish Creole
3,B16001_004E,"Estimate!!Total!!Spanish or Spanish Creole!!Speak English ""very well"""
4,B16001_005E,"Estimate!!Total!!Spanish or Spanish Creole!!Speak English less than ""very well"""

In [20]:
# identify less than very well variables

label = language_acs5_2009.LABEL
for token in string.punctuation:
    label = label.str.replace(token, ' ')
# Remove multiple spaces
label = label.str.replace(' +', ' ', regex=True)
# Remove leading and trailing spaces
label = label.str.strip()
# Convert to small caps
label = label.str.lower()

language_acs5_2009['LABEL'] = label

less_than_list = language_acs5_2009.VARIABLE[label.str.contains('less than very well')].to_list()
less_than_list[:5]

# years 2009 to 2015 share the same variable IDs

['B16001_005E', 'B16001_008E', 'B16001_011E', 'B16001_014E', 'B16001_017E']

In [22]:
# identify codes 2016 onwards
print(acs_acs5_groups_2016[acs_acs5_groups_2016['GROUP'] == 'B16001'])
language_acs5_2016 = ced.variables.all_variables('acs/acs5', 2016, 'B16001')[['VARIABLE', 'LABEL']]
language_acs5_2016.to_csv('notes/B16001_2016_variables.csv', index=False)

# identify less than very well variables

label = language_acs5_2016.LABEL
for token in string.punctuation:
    label = label.str.replace(token, ' ')
# Remove multiple spaces
label = label.str.replace(' +', ' ', regex=True)
# Remove leading and trailing spaces
label = label.str.strip()
# Convert to small caps
label = label.str.lower()

language_acs5_2016['LABEL'] = label

less_than_list = language_acs5_2016.VARIABLE[label.str.contains('less than very well')].to_list()
less_than_list[:5]

# years 2016 to 2022 share the same variable IDs (remove 2020)

      GROUP  \
396  B16001

                                                                                 DESCRIPTION
396  LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER

['B16001_005E', 'B16001_008E', 'B16001_011E', 'B16001_014E', 'B16001_017E']

In [27]:
print(acs_acs1_groups_2007[acs_acs1_groups_2007['GROUP'] == 'B16001'])
language_acs1_2007 = ced.variables.all_variables('acs/acs1', 2007, 'B16001')[['VARIABLE', 'LABEL']]

# identify less than very well variables

label = language_acs1_2007.LABEL
for token in string.punctuation:
    label = label.str.replace(token, ' ')
# Remove multiple spaces
label = label.str.replace(' +', ' ', regex=True)
# Remove leading and trailing spaces
label = label.str.strip()
# Convert to small caps
label = label.str.lower()

language_acs1_2007['LABEL'] = label

less_than_list = language_acs1_2007.VARIABLE[label.str.contains('less than very well')].to_list()
less_than_list[:5]

# years 2009 to 2015 share the same variable IDs

      GROUP  \
387  B16001

                                                                                 DESCRIPTION
387  LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER

['B16001_005E', 'B16001_008E', 'B16001_011E', 'B16001_014E', 'B16001_017E']

In [28]:
print(acs_acs1_groups_2016[acs_acs1_groups_2016['GROUP'] == 'B16001'])
language_acs1_2016 = ced.variables.all_variables('acs/acs1', 2016, 'B16001')[['VARIABLE', 'LABEL']]

# identify less than very well variables

label = language_acs1_2016.LABEL
for token in string.punctuation:
    label = label.str.replace(token, ' ')
# Remove multiple spaces
label = label.str.replace(' +', ' ', regex=True)
# Remove leading and trailing spaces
label = label.str.strip()
# Convert to small caps
label = label.str.lower()

language_acs1_2016['LABEL'] = label

less_than_list = language_acs1_2016.VARIABLE[label.str.contains('less than very well')].to_list()
less_than_list[:5]

# years 2016 to 2022 share the same variable IDs (remove 2020)

      GROUP  \
400  B16001

                                                                                 DESCRIPTION
400  LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER

['B16001_005E', 'B16001_008E', 'B16001_011E', 'B16001_014E', 'B16001_017E']

## P019,AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER

In [10]:
## P019,AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
language = ced.variables.all_variables('dec/sf3', 2000, 'P019')[['VARIABLE', 'LABEL']]
language.to_csv('notes/P019_variables.csv', index=False)
language.head()

  VARIABLE                                     LABEL
0   GEO_ID                                 Geography
1     NAME                          Label for GEO_ID
2  P019001                                     Total
3  P019002                      Total!!5 to 17 years
4  P019003  Total!!5 to 17 years!!Speak only English

### DP02

In [40]:
pd.concat([
    validate_xyear(f'DP02_0113PE', 'DP02', 'acs/acs5/profile', range(2009, 2018+1)),
    validate_xyear(f'DP02_0114PE', 'DP02', 'acs/acs5/profile', range(2019, 2019+1)),
    validate_xyear(f'DP02_0115PE', 'DP02', 'acs/acs5/profile', range(2020, 2022+1))
])

,YEAR,LABEL
450,2009,"Percent!!Estimate!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Language other than English!!Speak English less than ""very well"""
450,2010,"Percent!!LANGUAGE SPOKEN AT HOME!!Language other than English!!Speak English less than ""very well"""
337,2011,"Percent!!LANGUAGE SPOKEN AT HOME!!Language other than English!!Speak English less than ""very well"""
337,2012,"Percent!!LANGUAGE SPOKEN AT HOME!!Language other than English!!Speak English less than ""very well"""
337,2013,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Language other than English!!Speak English less than ""very well"""
337,2014,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Language other than English!!Speak English less than ""very well"""
337,2015,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Language other than English!!Speak English less than ""very well"""
337,2016,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Language other than English!!Speak English less than ""very well"""
561,2017,"Percent Estimate!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Language other than English!!Speak English less than ""very well"""
561,2018,"Percent Estimate!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Language other than English!!Speak English less than ""very well"""
340,2019,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Language other than English!!Speak English less than ""very well"""
343,2020,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Language other than English!!Speak English less than ""very well"""
343,2021,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Language other than English!!Speak English less than ""very well"""
343,2022,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Language other than English!!Speak English less than ""very well"""

## Spanish speaking (language spoken at home)

In [42]:
print(language_acs5_2009[language_acs5_2009.VARIABLE == 'B16001_003E'])
print(language_acs5_2016[language_acs5_2016.VARIABLE == 'B16001_003E'])

      VARIABLE                                     LABEL
2  B16001_003E  estimate total spanish or spanish creole
      VARIABLE                   LABEL
2  B16001_003E  estimate total spanish

In [43]:
print(language_acs1_2007[language_acs1_2007.VARIABLE == 'B16001_003E'])
print(language_acs1_2016[language_acs1_2016.VARIABLE == 'B16001_003E'])

      VARIABLE                                     LABEL
2  B16001_003E  estimate total spanish or spanish creole
      VARIABLE                   LABEL
2  B16001_003E  estimate total spanish

In [44]:
pd.concat([
    validate_xyear(f'DP02_0114PE', 'DP02', 'acs/acs5/profile', range(2009, 2018+1)),
    validate_xyear(f'DP02_0115PE', 'DP02', 'acs/acs5/profile', range(2019, 2019+1)),
    validate_xyear(f'DP02_0116PE', 'DP02', 'acs/acs5/profile', range(2020, 2022+1))
])

,YEAR,LABEL
454,2009,Percent!!Estimate!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish
454,2010,Percent!!LANGUAGE SPOKEN AT HOME!!Language other than English!!Spanish
340,2011,Percent!!LANGUAGE SPOKEN AT HOME!!Language other than English!!Spanish
340,2012,Percent!!LANGUAGE SPOKEN AT HOME!!Language other than English!!Spanish
340,2013,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish
340,2014,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish
340,2015,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish
340,2016,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish
566,2017,Percent Estimate!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish
566,2018,Percent Estimate!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish
343,2019,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish
346,2020,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish
346,2021,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish
346,2022,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish

## Spanish and speaks English less than very well (language spoken at home)

In [45]:
print(language_acs5_2009.LABEL[language_acs5_2009.VARIABLE == 'B16001_005E'].values)
print(language_acs5_2016.LABEL[language_acs5_2016.VARIABLE == 'B16001_005E'].values)

['estimate total spanish or spanish creole speak english less than very well']
['estimate total spanish speak english less than very well']

In [46]:
print(language_acs1_2007.LABEL[language_acs1_2007.VARIABLE == 'B16001_005E'].values)
print(language_acs1_2016.LABEL[language_acs1_2016.VARIABLE == 'B16001_005E'].values)

['estimate total spanish or spanish creole speak english less than very well']
['estimate total spanish speak english less than very well']

In [47]:
pd.concat([
    validate_xyear(f'DP02_0115PE', 'DP02', 'acs/acs5/profile', range(2009, 2018+1)),
    validate_xyear(f'DP02_0116PE', 'DP02', 'acs/acs5/profile', range(2019, 2019+1)),
    validate_xyear(f'DP02_0117PE', 'DP02', 'acs/acs5/profile', range(2020, 2022+1))
])

,YEAR,LABEL
458,2009,"Percent!!Estimate!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish!!Speak English less than ""very well"""
458,2010,"Percent!!LANGUAGE SPOKEN AT HOME!!Language other than English!!Spanish!!Speak English less than ""very well"""
343,2011,"Percent!!LANGUAGE SPOKEN AT HOME!!Language other than English!!Spanish!!Speak English less than ""very well"""
343,2012,"Percent!!LANGUAGE SPOKEN AT HOME!!Language other than English!!Spanish!!Speak English less than ""very well"""
343,2013,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish!!Speak English less than ""very well"""
343,2014,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish!!Speak English less than ""very well"""
343,2015,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish!!Speak English less than ""very well"""
343,2016,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish!!Speak English less than ""very well"""
571,2017,"Percent Estimate!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish!!Speak English less than ""very well"""
571,2018,"Percent Estimate!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish!!Speak English less than ""very well"""
346,2019,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish!!Speak English less than ""very well"""
349,2020,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish!!Speak English less than ""very well"""
349,2021,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish!!Speak English less than ""very well"""
349,2022,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Spanish!!Speak English less than ""very well"""

## Asian and pacific (language spoken at home by nativity)

In [48]:
language_acs5_2009 = ced.variables.all_variables('acs/acs5', 2009, 'B16005')[['VARIABLE', 'LABEL']]
language_acs5_2009.to_csv('notes/B16005_2009_variables.csv', index=False)
language_acs5_2016 = ced.variables.all_variables('acs/acs5', 2016, 'B16005')[['VARIABLE', 'LABEL']]
language_acs5_2016.to_csv('notes/B16005_2016_variables.csv', index=False)

In [49]:
print(language_acs5_2009.LABEL[language_acs5_2009.VARIABLE == 'B16005_014E'].values)
print(language_acs5_2009.LABEL[language_acs5_2009.VARIABLE == 'B16005_036E'].values)
print(language_acs5_2016.LABEL[language_acs5_2016.VARIABLE == 'B16005_014E'].values)
print(language_acs5_2016.LABEL[language_acs5_2016.VARIABLE == 'B16005_036E'].values)

['Estimate!!Total!!Native!!Speak Asian and Pacific Island languages']
['Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages']
['Estimate!!Total!!Native!!Speak Asian and Pacific Island languages']
['Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages']

In [50]:
validate_xyear('B16005_014E', 'B16005', 'acs/acs5', range(2009, 2022+1))

    YEAR                                                                 LABEL
13  2009     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2010     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2011     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2012     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2013     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2014     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2015     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2016     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2017     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2018     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2019  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:
13  2020  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:
13  2021  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:
13  2022  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:

In [51]:
validate_xyear('B16005_036E', 'B16005', 'acs/acs5', range(2009, 2022+1))

,YEAR,LABEL
35,2009,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2010,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2011,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2012,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2013,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2014,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2015,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2016,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2017,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2018,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2019,Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:
35,2020,Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:
35,2021,Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:
35,2022,Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:

In [52]:
validate_xyear('B16005_014E', 'B16005', 'acs/acs1', years_acs1_list)

    YEAR                                                                 LABEL
13  2009     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2010     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2011     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2012     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2013     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2014     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2015     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2016     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2017     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2018     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages
13  2019  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:
13  2021  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:
13  2022  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:

In [53]:
validate_xyear('B16005_036E', 'B16005', 'acs/acs5', years_acs1_list)

,YEAR,LABEL
35,2009,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2010,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2011,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2012,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2013,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2014,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2015,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2016,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2017,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2018,Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages
35,2019,Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:
35,2021,Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:
35,2022,Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:

In [54]:
pd.concat([
    validate_xyear(f'DP02_0118PE', 'DP02', 'acs/acs5/profile', range(2009, 2018+1)), 
    validate_xyear(f'DP02_0119PE', 'DP02', 'acs/acs5/profile', range(2019, 2019+1)), 
    validate_xyear(f'DP02_0120PE', 'DP02', 'acs/acs5/profile', range(2020, 2022+1))
])

,YEAR,LABEL
470,2009,Percent!!Estimate!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages
470,2010,Percent!!LANGUAGE SPOKEN AT HOME!!Language other than English!!Asian and Pacific Islander languages
352,2011,Percent!!LANGUAGE SPOKEN AT HOME!!Language other than English!!Asian and Pacific Islander languages
352,2012,Percent!!LANGUAGE SPOKEN AT HOME!!Language other than English!!Asian and Pacific Islander languages
352,2013,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages
352,2014,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages
352,2015,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages
352,2016,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages
586,2017,Percent Estimate!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages
586,2018,Percent Estimate!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages
355,2019,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages
358,2020,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages
358,2021,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages
358,2022,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages

## Asian and pacific and speaks English less than very well (language spoken at home by nativity)

In [55]:
print(language_acs5_2009.LABEL[language_acs5_2009.VARIABLE == 'B16005_016E'].values)
print(language_acs5_2009.LABEL[language_acs5_2009.VARIABLE == 'B16005_017E'].values)
print(language_acs5_2009.LABEL[language_acs5_2009.VARIABLE == 'B16005_018E'].values)
print(language_acs5_2009.LABEL[language_acs5_2009.VARIABLE == 'B16005_038E'].values)
print(language_acs5_2009.LABEL[language_acs5_2009.VARIABLE == 'B16005_039E'].values)
print(language_acs5_2009.LABEL[language_acs5_2009.VARIABLE == 'B16005_040E'].values)

['Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"']
['Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"']
['Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"']
['Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"']
['Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"']
['Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"']

In [56]:
print(validate_xyear('B16005_016E', 'B16005', 'acs/acs5', range(2009, 2022+1)))
print(validate_xyear('B16005_017E', 'B16005', 'acs/acs5', range(2009, 2022+1)))
print(validate_xyear('B16005_018E', 'B16005', 'acs/acs5', range(2009, 2022+1)))
print(validate_xyear('B16005_038E', 'B16005', 'acs/acs5', range(2009, 2022+1)))
print(validate_xyear('B16005_039E', 'B16005', 'acs/acs5', range(2009, 2022+1)))
print(validate_xyear('B16005_040E', 'B16005', 'acs/acs5', range(2009, 2022+1)))

    YEAR  \
15  2009
15  2010
15  2011
15  2012
15  2013
15  2014
15  2015
15  2016
15  2017
15  2018
15  2019
15  2020
15  2021
15  2022

                                                                                         LABEL
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "well"
15  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "well"
15  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "well"
15  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "well"
    YEAR  \
16  2009
16  2010
16  2011
16  2012
16  2013
16  2014
16  2015
16  2016
16  2017
16  2018
16  2019
16  2020
16  2021
16  2022

                                                                                             LABEL
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "not well"
16  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "not well"
16  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "not well"
16  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "not well"
    YEAR  \
17  2009
17  2010
17  2011
17  2012
17  2013
17  2014
17  2015
17  2016
17  2017
17  2018
17  2019
17  2020
17  2021
17  2022

                                                                                               LABEL
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"
17  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"
17  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"
17  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"
    YEAR  \
37  2009
37  2010
37  2011
37  2012
37  2013
37  2014
37  2015
37  2016
37  2017
37  2018
37  2019
37  2020
37  2021
37  2022

                                                                                               LABEL
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "well"
37  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "well"
37  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "well"
37  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "well"
    YEAR  \
38  2009
38  2010
38  2011
38  2012
38  2013
38  2014
38  2015
38  2016
38  2017
38  2018
38  2019
38  2020
38  2021
38  2022

                                                                                                   LABEL
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "not well"
38  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "not well"
38  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "not well"
38  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "not well"
    YEAR  \
39  2009
39  2010
39  2011
39  2012
39  2013
39  2014
39  2015
39  2016
39  2017
39  2018
39  2019
39  2020
39  2021
39  2022

                                                                                                     LABEL
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"
39  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"
39  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"
39  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"

In [57]:
print(validate_xyear('B16005_016E', 'B16005', 'acs/acs1', years_acs1_list))
print(validate_xyear('B16005_017E', 'B16005', 'acs/acs1', years_acs1_list))
print(validate_xyear('B16005_018E', 'B16005', 'acs/acs1', years_acs1_list))
print(validate_xyear('B16005_038E', 'B16005', 'acs/acs1', years_acs1_list))
print(validate_xyear('B16005_039E', 'B16005', 'acs/acs1', years_acs1_list))
print(validate_xyear('B16005_040E', 'B16005', 'acs/acs1', years_acs1_list))

    YEAR  \
15  2009
15  2010
15  2011
15  2012
15  2013
15  2014
15  2015
15  2016
15  2017
15  2018
15  2019
15  2021
15  2022

                                                                                         LABEL
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "well"
15  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "well"
15  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "well"
15  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "well"
    YEAR  \
16  2009
16  2010
16  2011
16  2012
16  2013
16  2014
16  2015
16  2016
16  2017
16  2018
16  2019
16  2021
16  2022

                                                                                             LABEL
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not well"
16  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "not well"
16  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "not well"
16  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "not well"
    YEAR  \
17  2009
17  2010
17  2011
17  2012
17  2013
17  2014
17  2015
17  2016
17  2017
17  2018
17  2019
17  2021
17  2022

                                                                                               LABEL
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17     Estimate!!Total!!Native!!Speak Asian and Pacific Island languages!!Speak English "not at all"
17  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"
17  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"
17  Estimate!!Total:!!Native:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"
    YEAR  \
37  2009
37  2010
37  2011
37  2012
37  2013
37  2014
37  2015
37  2016
37  2017
37  2018
37  2019
37  2021
37  2022

                                                                                               LABEL
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "well"
37  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "well"
37  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "well"
37  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "well"
    YEAR  \
38  2009
38  2010
38  2011
38  2012
38  2013
38  2014
38  2015
38  2016
38  2017
38  2018
38  2019
38  2021
38  2022

                                                                                                   LABEL
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not well"
38  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "not well"
38  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "not well"
38  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "not well"
    YEAR  \
39  2009
39  2010
39  2011
39  2012
39  2013
39  2014
39  2015
39  2016
39  2017
39  2018
39  2019
39  2021
39  2022

                                                                                                     LABEL
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39     Estimate!!Total!!Foreign born!!Speak Asian and Pacific Island languages!!Speak English "not at all"
39  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"
39  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"
39  Estimate!!Total:!!Foreign born:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"

In [58]:
pd.concat([
    validate_xyear(f'DP02_0119PE', 'DP02', 'acs/acs5/profile', range(2009, 2018+1)), 
    validate_xyear(f'DP02_0120PE', 'DP02', 'acs/acs5/profile', range(2019, 2019+1)), 
    validate_xyear(f'DP02_0121PE', 'DP02', 'acs/acs5/profile', range(2020, 2022+1))
])

,YEAR,LABEL
474,2009,"Percent!!Estimate!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages!!Speak English less than ""very well"""
474,2010,"Percent!!LANGUAGE SPOKEN AT HOME!!Language other than English!!Asian and Pacific Islander languages!!Speak English less than ""very well"""
355,2011,"Percent!!LANGUAGE SPOKEN AT HOME!!Language other than English!!Asian and Pacific Islander languages!!Speak English less than ""very well"""
355,2012,"Percent!!LANGUAGE SPOKEN AT HOME!!Language other than English!!Asian and Pacific Islander languages!!Speak English less than ""very well"""
355,2013,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages!!Speak English less than ""very well"""
355,2014,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages!!Speak English less than ""very well"""
355,2015,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages!!Speak English less than ""very well"""
355,2016,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages!!Speak English less than ""very well"""
591,2017,"Percent Estimate!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages!!Speak English less than ""very well"""
591,2018,"Percent Estimate!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages!!Speak English less than ""very well"""
358,2019,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages!!Speak English less than ""very well"""
361,2020,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages!!Speak English less than ""very well"""
361,2021,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages!!Speak English less than ""very well"""
361,2022,"Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Asian and Pacific Islander languages!!Speak English less than ""very well"""

## Not Hispanic asian alone

In [59]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B03002'])
ced.variables.all_variables('acs/acs5', 2009, 'B03002')[['VARIABLE', 'LABEL']]

     GROUP                        DESCRIPTION
34  B03002  HISPANIC OR LATINO ORIGIN BY RACE

,VARIABLE,LABEL
0,B03002_001E,Estimate!!Total
1,B03002_002E,Estimate!!Total!!Not Hispanic or Latino
2,B03002_003E,Estimate!!Total!!Not Hispanic or Latino!!White alone
3,B03002_004E,Estimate!!Total!!Not Hispanic or Latino!!Black or African American alone
4,B03002_005E,Estimate!!Total!!Not Hispanic or Latino!!American Indian and Alaska Native alone
5,B03002_006E,Estimate!!Total!!Not Hispanic or Latino!!Asian alone
6,B03002_007E,Estimate!!Total!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone
7,B03002_008E,Estimate!!Total!!Not Hispanic or Latino!!Some other race alone
8,B03002_009E,Estimate!!Total!!Not Hispanic or Latino!!Two or more races
9,B03002_010E,Estimate!!Total!!Not Hispanic or Latino!!Two or more races!!Two races including Some other race
10,B03002_011E,"Estimate!!Total!!Not Hispanic or Latino!!Two or more races!!Two races excluding Some other race, and three or more races"
11,B03002_012E,Estimate!!Total!!Hispanic or Latino
12,B03002_013E,Estimate!!Total!!Hispanic or Latino!!White alone
13,B03002_014E,Estimate!!Total!!Hispanic or Latino!!Black or African American alone
14,B03002_015E,Estimate!!Total!!Hispanic or Latino!!American Indian and Alaska Native alone
15,B03002_016E,Estimate!!Total!!Hispanic or Latino!!Asian alone
16,B03002_017E,Estimate!!Total!!Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone
17,B03002_018E,Estimate!!Total!!Hispanic or Latino!!Some other race alone
18,B03002_019E,Estimate!!Total!!Hispanic or Latino!!Two or more races
19,B03002_020E,Estimate!!Total!!Hispanic or Latino!!Two or more races!!Two races including Some other race
20,B03002_021E,"Estimate!!Total!!Hispanic or Latino!!Two or more races!!Two races excluding Some other race, and three or more races"
21,GEO_ID,Geography
22,NAME,Geographic Area Name

In [62]:
validate_xyear('B03002_012E', 'B03002', 'acs/acs5', range(2009, 2022+1))

    YEAR                                  LABEL
11  2009    Estimate!!Total!!Hispanic or Latino
11  2010    Estimate!!Total!!Hispanic or Latino
11  2011    Estimate!!Total!!Hispanic or Latino
11  2012    Estimate!!Total!!Hispanic or Latino
11  2013    Estimate!!Total!!Hispanic or Latino
11  2014    Estimate!!Total!!Hispanic or Latino
11  2015    Estimate!!Total!!Hispanic or Latino
11  2016    Estimate!!Total!!Hispanic or Latino
11  2017    Estimate!!Total!!Hispanic or Latino
11  2018    Estimate!!Total!!Hispanic or Latino
11  2019  Estimate!!Total:!!Hispanic or Latino:
11  2020  Estimate!!Total:!!Hispanic or Latino:
11  2021  Estimate!!Total:!!Hispanic or Latino:
11  2022  Estimate!!Total:!!Hispanic or Latino:

In [60]:
validate_xyear('B03002_006E', 'B03002', 'acs/acs5', range(2009, 2022+1))

   YEAR                                                   LABEL
5  2009    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2010    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2011    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2012    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2013    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2014    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2015    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2016    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2017    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2018    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2019  Estimate!!Total:!!Not Hispanic or Latino:!!Asian alone
5  2020  Estimate!!Total:!!Not Hispanic or Latino:!!Asian alone
5  2021  Estimate!!Total:!!Not Hispanic or Latino:!!Asian alone
5  2022  Estimate!!Total:!!Not Hispanic or Latino:!!Asian alone

In [64]:
validate_xyear('B03002_012E', 'B03002', 'acs/acs1', years_acs1_list)

    YEAR                                  LABEL
11  2009    Estimate!!Total!!Hispanic or Latino
11  2010    Estimate!!Total!!Hispanic or Latino
11  2011    Estimate!!Total!!Hispanic or Latino
11  2012    Estimate!!Total!!Hispanic or Latino
11  2013    Estimate!!Total!!Hispanic or Latino
11  2014    Estimate!!Total!!Hispanic or Latino
11  2015    Estimate!!Total!!Hispanic or Latino
11  2016    Estimate!!Total!!Hispanic or Latino
11  2017    Estimate!!Total!!Hispanic or Latino
11  2018    Estimate!!Total!!Hispanic or Latino
11  2019  Estimate!!Total:!!Hispanic or Latino:
11  2021  Estimate!!Total:!!Hispanic or Latino:
11  2022  Estimate!!Total:!!Hispanic or Latino:

In [61]:
validate_xyear('B03002_006E', 'B03002', 'acs/acs1', years_acs1_list)

   YEAR                                                   LABEL
5  2009    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2010    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2011    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2012    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2013    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2014    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2015    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2016    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2017    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2018    Estimate!!Total!!Not Hispanic or Latino!!Asian alone
5  2019  Estimate!!Total:!!Not Hispanic or Latino:!!Asian alone
5  2021  Estimate!!Total:!!Not Hispanic or Latino:!!Asian alone
5  2022  Estimate!!Total:!!Not Hispanic or Latino:!!Asian alone

## P004,"HISPANIC OR LATINO, AND NOT HISPANIC OR LATINO BY RACE [73]"

In [12]:
# P004,"HISPANIC OR LATINO, AND NOT HISPANIC OR LATINO BY RACE [73]"
hispanic = ced.variables.all_variables('dec/sf1', 2000, 'P004')[['VARIABLE', 'LABEL']]
hispanic.to_csv('notes/P004_variables.csv', index=False)
hispanic.head()

  VARIABLE                          LABEL
0   GEO_ID                      Geography
1     NAME               Label for GEO_ID
2  P004001                          Total
3  P004002      Total!!Hispanic or Latino
4  P004003  Total!!Not Hispanic or Latino