In [14]:
import pyarrow.parquet as pq
import pandas as pd

In [15]:
output_file = "data/output/census_series/zcta_totals.parquet"

In [16]:
pq.read_schema(output_file)

survey: string
year: int64
zcta: string
population: int64
median_age: double
pop_under_20_years: int64
pop_20_34_years: int64
pop_35_49_years: int64
pop_50_64_years: int64
pop_over_65_years: int64
pop_white: int64
pop_black: int64
pop_native: int64
pop_asian: int64
pop_hispanic: int64
pop_non_us_citizen: double
pop_higher_education_enrolled: double
pop_higher_education_attained: double
pop_poverty: double
housing_units: int64
housing_occupied: int64
housing_renter_occupied: int64

In [17]:
pq.read_metadata(output_file)

<pyarrow._parquet.FileMetaData object at 0x1279ff150>
  created_by: DuckDB
  num_columns: 22
  num_rows: 498820
  num_row_groups: 5
  format_version: 1.0
  serialized_size: 10349

In [18]:
#extract to pandas
df = pd.read_parquet(output_file)

In [20]:
df.head()

,survey,year,zcta,population,median_age,pop_under_20_years,pop_20_34_years,pop_35_49_years,pop_50_64_years,pop_over_65_years,...,pop_native,pop_asian,pop_hispanic,pop_non_us_citizen,pop_higher_education_enrolled,pop_higher_education_attained,pop_poverty,housing_units,housing_occupied,housing_renter_occupied
0,dec,2000,00601,19143,30.3,6835,3878,3688,2746,1996,...,31,2,19077,135.0,1135.0,1182.0,12486.0,6715,5895,1657
1,dec,2000,00602,42042,31.3,14037,9320,9213,5820,3652,...,67,35,41747,390.0,2159.0,3132.0,24880.0,15590,13520,2619
2,dec,2000,00603,55530,33.4,16677,12322,10516,9277,6738,...,118,115,54926,715.0,2989.0,4835.0,31570.0,21626,19152,6560
3,dec,2000,00604,3923,25.2,1625,822,891,365,220,...,4,30,3408,48.0,396.0,788.0,1015.0,1245,1121,382
4,dec,2000,00606,6449,29.1,2342,1334,1294,881,598,...,10,1,6393,64.0,281.0,217.0,4344.0,2272,2013,548

In [19]:
df.sample(10)

,survey,year,zcta,population,median_age,pop_under_20_years,pop_20_34_years,pop_35_49_years,pop_50_64_years,pop_over_65_years,...,pop_native,pop_asian,pop_hispanic,pop_non_us_citizen,pop_higher_education_enrolled,pop_higher_education_attained,pop_poverty,housing_units,housing_occupied,housing_renter_occupied
443078,acs5,2019,35984,1401,60.4,103,184,184,425,505,...,5,27,0,0.0,38.0,251.0,222.0,1542,747,187
329310,acs5,2015,92377,19490,33.1,5336,4778,3610,3701,2065,...,62,541,11864,1240.0,1536.0,656.0,1546.0,5698,5389,715
323689,acs5,2015,72328,31,NaN,0,0,18,0,13,...,0,0,0,0.0,0.0,0.0,0.0,29,13,0
100533,acs5,2009,05456,1415,41.5,383,219,342,330,141,...,8,33,58,2.0,47.0,120.0,78.0,603,520,107
144181,acs5,2010,24069,1858,44.7,333,308,449,548,220,...,0,47,9,47.0,133.0,69.0,144.0,964,753,142
159896,acs5,2010,77059,18904,44.0,5641,1689,5072,4274,2228,...,18,4150,1841,1208.0,1162.0,3628.0,212.0,6077,6026,208
480117,acs5,2020,45628,5434,35.6,1606,947,1164,1096,621,...,0,26,29,26.0,205.0,203.0,402.0,2270,2044,440
365154,acs5,2017,00968,3448,57.2,409,340,577,965,1157,...,0,0,3403,0.0,177.0,909.0,579.0,2260,1797,599
56158,dec,2010,33068,49824,31.6,15578,12000,10880,7753,3613,...,161,1603,12065,NaN,NaN,NaN,NaN,17834,15747,6104
25698,dec,2000,74103,2173,37.3,158,772,945,278,20,...,189,3,100,12.0,98.0,84.0,640.0,83,60,60